body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

form {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 8px;
    margin: 8px;
    width: 200px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    margin: 10px;
    text-decoration: none;
    color: #007bff;
    /* Blue color for links */
}

a:hover {
    color: #0056b3;
    /* Darker blue on hover */
}

/* Style for the Logout button */
a.logout-btn {
    margin-left: 10px;
    background-color: #dc3545;
    /* Red color for Logout button */
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
}

a.logout-btn:hover {
    background-color: #c82333;
    /* Darker red on hover */
}